:root{
    --background-color: #FFFFFF; /* white */
    --scatter-point-color-1: #FFA500; /* orange */
    --scatter-point-color-2: #ADD8E6; /* light blue */
    --axes-color: #333333; /* dark gray */
    --gridlines-color: #CCCCCC; /* light gray */
    --title-color: #000000; /* black */
    --label-color: #666666; /* medium gray */
    --tooltip-color: #a9c0d4; /* dark blue */
}


*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tooltip{
    position: fixed;
    pointer-events: none;
    background-color: var(--tooltip-color);
    border-radius: 0.5rem;
    padding: 0.4rem;
    font-size: 0.8rem;
}

.allWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}